*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  /* color: #333; */

}


#home{
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: 5vh
}


#foodimg{
  width: 20vw;
  height: 30vh;
  vertical-align: middle;
  ;
}

h1{
  margin-right: 5vw;
}

table,td{
  background-color: aliceblue;
  width: 50vw;
  height: 10vh;
  /* border: 1px double black; */
  text-align: center;
  margin: auto;
}
th{
  font-size: 2pc;
}
